.section {
  margin-top: 100px;
  padding: 15px;
}
.section_title {
  /* font-family: "Playfair Display", serif; */
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 15px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #999999;
  transition: color 0.3s ease;
}

html.dark-mode .section_title {
  color: #666666;
}
.section_subtitle {
  /* font-family: "Quicksand", sans-serif; */
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-bottom: 45px;
  font-family: "playfair display";
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.5;
  transition: color 0.3s ease;
}

html.dark-mode .section_subtitle {
  color: #e0e0e0;
}
@media screen and (min-width: 768px) {
  .section {
    box-sizing: border-box;
  }
}
