.sidebar_hamburger {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 30px 15px;
  z-index: 500;
  transition-duration: 500ms;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
  transition-duration: 500ms;
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  color: #f8fafc;
  background-color: rgba(15, 23, 42, 0.85);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  transform: translateX(-300px);
  transition-duration: 500ms;
  z-index: 400;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0);
  transition-duration: 500ms;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
.sidebar_list > li > a {
  font-size: 18px;
  font-weight: 500;
  color: #f8fafc;
  text-decoration: none;
  position: relative;
}
.sidebar_list > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
}

.sidebar_list > li > a:hover::after {
  width: 100%;
}
@media (min-width: 768px) {
  .sidebar_hamburger {
    display: none;
  }

  .sidebar_content {
    transform: translateX(0);
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    transition: none;
  }

  .sidebar_list {
    flex-direction: row;
    gap: 30px;
  }

  .sidebar_list > li {
    margin-bottom: 0;
  }
  .sidebar_list > li > a {
    color: #333;
  }
  .sidebar_list > li > a::after {
    background-color: #333;
  }
}
