.sidebar_hamburger {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 30px 15px;
  z-index: 500;
  transition-duration: 500ms;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
  transition-duration: 500ms;
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  transform: translateX(-300px);
  transition-duration: 500ms;
  z-index: 400;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0);
  transition-duration: 500ms;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
.sidebar_list > li > a {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
}

@media (min-width: 768px) {
  .sidebar_hamburger {
    display: none;
  }

  .sidebar_content {
    transform: translateX(0);
    width: 100%;
    height: auto;
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }

  .sidebar_list {
    flex-direction: row;
    gap: 30px;
  }

  .sidebar_list > li {
    margin-bottom: 0;
  }
}
