:root {
  --nav-width: 300px;
  --nav-positioon-from-left: 150px;
  --gap-size: 10px;
}
nav {
  position: relative;
}

.sidebar_hamburger {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 30px 15px;
  z-index: 500;
  transition-duration: 500ms;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
  transition-duration: 500ms;
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;

  background-color: rgba(240, 244, 247, 0.85);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  transform: translateX(-300px);
  transition-duration: 500ms;
  z-index: 400;
}

html.dark-mode .sidebar_content {
  background-color: rgba(45, 45, 45, 0.95);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.imageholder {
  position: relative;
  /* border: 1px; */
  top: 10px;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}
.profileimage {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.namecontent {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.namecontent > h2 {
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Playfair Display";
}
.namecontent > h3 {
  letter-spacing: 1px;
  font-size: 16px;
  color: #3b82f6;
  font-family: "Playfair Display";
}

html.dark-mode .namecontent > h3 {
  color: #60a5fa;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0);
  transition-duration: 500ms;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
.sidebar_list > li > a {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  position: relative;
}

html.dark-mode .sidebar_list > li > a {
  color: #e0e0e0;
}
.sidebar_list > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
}

.sidebar_list > li > a:hover::after {
  width: 100%;
}
@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  .sidebar_content {
    transform: translateX(0);
    left: var(--nav-positioon-from-left);
  }
  .sidebar_list > li > a {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    position: relative;
  }
  main {
    width: 800px;
    position: relative;
    height: 100vh;
    margin-left: 450px;
    background-color: transparent;
  }
}
