:root {
  --nav-width: 300px;
  --nav-positioon-from-left: 150px;
  --gap-size: 10px;
}
nav {
  position: relative;
}
.sidebar_hamburger {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 30px 15px;
  z-index: 500;
  transition-duration: 500ms;
}
.sidebar_hamburger_translate {
  transform: translateX(300px);
  transition-duration: 500ms;
}
.sidebar_content {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;

  background-color: rgba(240, 244, 247, 0.85);
  /* background-color: rgba(15, 23, 42, 0.85); */
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px;
  transform: translateX(-300px);
  transition-duration: 500ms;
  z-index: 400;
}
.sidebar_hamburger_translate + .sidebar_content {
  transform: translateX(0);
  transition-duration: 500ms;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list > li {
  margin-bottom: 20px;
}
.sidebar_list > li > a {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  position: relative;
}
.sidebar_list > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background-color: #3b82f6;
  transition: width 0.3s ease-in-out;
}

.sidebar_list > li > a:hover::after {
  width: 100%;
}
@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  .sidebar_content {
    transform: translateX(0);
    left: var(--nav-positioon-from-left);

    background-color: #f0f4f7;
  }
  .sidebar_list > li > a {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
    position: relative;
  }
  main {
    width: 800px;
    position: relative;
    height: 100vh;
    margin-left: 450px;
    background-color: transparent;
    border-left: var(--gap-size) solid white;
  }
}
