* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: unset;

  background-color: #cbccce;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  all: unset;
  display: block;
}

ul,
li {
  all: unset;
}

.section {
  min-height: 100vh;

  padding: 20px 10%;
}
@media screen and (min-width: 768px) {
  main {
    border-left: 10px solid white;
  }
}
