* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --nav-height: 80px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: unset;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  all: unset;
  display: block;
}

ul,
li {
  all: unset;
}
.section {
  /* This ensures the section is at least the full height of the browser window */
  min-height: 100vh;

  /* Adding padding so text doesn't hit the screen edges */
  padding: 20px 10%;

  /* Critical for Desktop: Ensure sections don't hide behind your sticky nav */
  scroll-margin-top: var(--nav-height);
}
