* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: unset;

  /* background-color: #cbccce; */
  background-color: white;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  all: unset;
  display: block;
}

ul,
li {
  all: unset;
}

.section {
  min-height: 100vh;
}
@media screen and (min-width: 768px) {
  main {
    box-sizing: border-box;
  }
  body {
    background-color: white;
  }
  section {
    margin-left: 10px;

    padding: 20px 10%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    background-color: white;
  }
}
